<% content_for :page_content do %>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-8">

                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
<% end %>

<% content_for :page_scripts do %>
    <script>


    </script>
<% end %>