<% content_for :page_styles do %>
    <style>
        <% unless @page.page_styles.nil? || !@page.page_styles.blank? %>
        <%= raw(@page.page_styles) %>
        <% end %>
    </style>
<% end %>
<% content_for :page_content do %>
    <!--home page content starts here -->
<div class="container">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Latest
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-coffee"></i>Article 1</h4>
                    </div>
                    <div class="panel-body">
                    <img align="left" src="img/Liwad_logo_sm.png" class="img-rounded" height="80" hspace="5">
                        <p align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo nulla dolore necessitatibus doloremque exercitationem sequi [...] </p>

                        <a href="" class="btn btn-primary">Read More <span class="fa fa-arrow-circle-right"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-dropbox"></i> Transparency Seal</h4>
                    </div>
                    <div class="panel-body">
                    <img align="left" src="img/Transparency-Seal.png" class="img-rounded" height="80" hspace="5">
                        <p align="justify">A pearl buried inside a tightly-shut shell is practically worthless. Government information is a pearl, meant to be shared with the public in order to maximize its inherent value. The Transparency Seal, depicted by a pearl [...]</p>
                        <a href="TransparencySeal.html" class="btn btn-primary">Read More <span class="fa fa-arrow-circle-right"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-facebook-square"></i> Like us on Faceboook</h4>
                    </div>
                    <div class="panel-body">
                    <img align="left" src="img/fb_icon.png" class="img-rounded" height="80" hspace="5">
                        <p align="justify">Are you a facebook addict? Now you can be updated to the latest news, advisory and happenings about your beloved Limay Water District, just log on and like our Facebook page</p>
                        <a href="https://www.facebook.com/?q=#/pages/Limay-Water-District/1498438307085675" target="_blank" class="btn btn-primary">Like us <span class="fa fa-thumbs-up"></span></a>
                    </div>
                </div>
            </div>
        </div>
	  <!--home page content ends here -->

<% end %>

<% content_for :page_scripts do %>
  <script>
	  $(function(){
		  paras = $('.short-desc-news');
		  $.each(paras, function(i,v){
			  $clamp(v, {clamp: 5});
		  })
	  });
  </script>
<% end %>