<% content_for :page_styles do %>
    <style>
        <% unless @page.page_styles.nil? || !@page.page_styles.blank? %>
        <%= raw(@page.page_styles) %>
        <% end %>
    </style>
<% end %>
<% content_for :page_content do %>
    <!--home page content starts here -->
<div class="container">
    <div class="col-lg-8">
        <h3 class="page-header well">Lastest News & Info.</h3>
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><i class="fa fa-fw fa-coffee"></i>Article 1</h4>
            </div>
            <div class="panel-body">
                <%= image_tag 'front/Liwad_logo_sm.png', align: 'left', class: 'img-rounded', height: 80, hspace: 5 %>
                <p align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo nulla dolore necessitatibus doloremque exercitationem sequi [...] </p>

                <a href="" class="btn btn-primary pull-right">Read More <span class="fa fa-arrow-circle-right"></span></a>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><i class="fa fa-fw fa-dropbox"></i> Transparency Seal</h4>
            </div>
            <div class="panel-body">
                <%= image_tag 'front/Transparency-Seal.png', align: 'left', class: 'img-rounded', height: 80, hspace: 5 %>
                <p align="justify">A pearl buried inside a tightly-shut shell is practically worthless. Government information is a pearl, meant to be shared with the public in order to maximize its inherent value. The Transparency Seal, depicted by a pearl [...]</p>
                <a href="TransparencySeal.html" class="btn btn-primary pull-right">Read More <span class="fa fa-arrow-circle-right"></span></a>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><i class="fa fa-fw fa-facebook-square"></i> Like us on Faceboook</h4>
            </div>
            <div class="panel-body">
                <%= image_tag 'front/fb_icon.png', align: 'left', class: 'img-rounded', height: 80, hspace: 5 %>
                <p align="justify">Are you a facebook addict? Now you can be updated to the latest news, advisory and happenings about your beloved Limay Water District, just log on and like our Facebook page</p><br/>
                <a href="https://www.facebook.com/?q=#/pages/Limay-Water-District/1498438307085675" target="_blank" class="btn btn-primary pull-right">Like us <span class="fa fa-thumbs-up"></span></a>
            </div>
        </div>

    </div>


    <div class="col-lg-4">
              <!-- Blog Search Panel -->
            <br/>
            <br/>
            <div class="panel panel-default">
                <div class="panel-heading"><b>Search</b></div>
                <div class="panel-body">
                    <form class="" action="/posts" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
                         <div class="input-group">

                        <input type="text" name="q" id="q" class="form-control" />
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                        </span>

                        </div>
                    </form>
                 </div>
            </div>

      <!-- Blog Archives Panel -->
            <div class="panel panel-default">
                <div class="panel-heading"><b>Archives</b></div>
                <div class="panel-body">
                </div>
            </div>

      <!-- Side Widget Well -->
            <div class="panel panel-default">
                <div class="panel-heading"><b>Popular Links</b></div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item"><a title="About Us" href="/about-us">About Us</a></li>
                            <li class="list-group-item"><a title="History" href="/about-us/history">History</a></li>
                        </ul>
                    </div>
            </div>

            <div class="well">
                <div id="fb-sidebar-widget" class="fb-like-box" data-href="https://www.facebook.com/pages/Mariveles-Water-District/1553420708222422" data-width="100%   " data-height="" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="true" data-show-border="true">
                </div>
            </div>

    </div>
    <!-- End Blog Sidebar Widgets Column -->

</div>
<!--home page content ends here -->

<% end %>

<% content_for :page_scripts do %>
  <script>
	  $(function(){
		  paras = $('.short-desc-news');
		  $.each(paras, function(i,v){
			  $clamp(v, {clamp: 5});
		  })
	  });
  </script>
<% end %>