<div class="content3">
  <div class="container">
      <p>Powered by: <a href="http://inbox.com.ph" style="color:#FFF" target="_blank">Inbox Business Solutions</a> | Limay Water District ©2015</p>
  </div>
</div>
