<% if @banners.any? %>
<div class="container">
    <div class="row">
        <!-- The carousel -->
        <div id="transition-timer-carousel" class="carousel slide transition-timer-carousel" data-ride="carousel">
			<!-- Indicators -->
	        <% if @banners.size > 1 %>
					<ol class="carousel-indicators">
						<% @banners.each_with_index do |banner, index|%>
						<li data-target="#transition-timer-carousel" data-slide-to="<%= index.to_s %>" <% if banner == @banners.first %>class="active"<% end %>></li>
						<% end %>
					</ol>
	        <% end %>

			<!-- Wrapper for slides -->
					<div class="carousel-inner">
				    <% @banners.each_with_index do |item, index|%>
						  <div class="item <% if @banners.first == item %>active<% end %>">
						    <div class="fill" style="">
						      <img src="<%= item.banner.url(:original) %>"/>
						    </div>
						  </div>
						<% end %>
          </div>

      <% if @banners.size > 1 %>
			<!-- Controls -->
			<a class="left carousel-control" href="#transition-timer-carousel" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="right carousel-control" href="#transition-timer-carousel" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
      <% end %>
            
      <!-- Timer "progress bar" -->
      <hr class="transition-timer-carousel-progress-bar animate" />
		</div>
  </div>
</div>
<% end %>